
.icon-note:before { content: '\2022'; } /* '•' */
.icon-note-beamed:before { content: '\2023'; } /* '‣' */
.icon-music:before { content: '\2024'; } /* '․' */
.icon-music-1:before { content: '\2025'; } /* '‥' */
.icon-google:before { content: '\2026'; } /* '…' */
.icon-apple:before { content: '\2027'; } /* '‧' */
.icon-twitter:before { content: '\2028'; } /* ' ' */
.icon-facebook-official:before { content: '\2029'; } /* ' ' */
.icon-eye:before { content: '\2030'; } /* '‰' */
.icon-eye-off:before { content: '\2031'; } /* '‱' */
.icon-key:before { content: '\2032'; } /* '′' */
.icon-login:before { content: '\2033'; } /* '″' */
.icon-forward:before { content: '\2034'; } /* '‴' */
